.navbar {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;

  .navbar__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 15px 50px;

    .navbar__logo {
      margin: 0;
      flex-grow: 1;

      a {
        color: black;
        text-decoration: none;
        font-size: 2.4rem;
        font-weight: 700;

        img {
          margin-right: 10px;
        }
      }
    }

    .navbar__sign-in-button {
      position: relative;
      top: 0;
      padding: 5px 10px;
      background-color: white;
      border: 2px solid black;
      box-shadow: 2px 2px 0 black;
      cursor: pointer;
      outline: none;

      span {
        font-weight: 700;
      }
    }

    .navbar__sign-in-button:active {
      top: 2px;
      box-shadow: 0 0 0 black;
    }

    .navbar__faq {
      position: relative;
      top: 0;
      margin: 0 20px;
      padding: 5px 10px;
      background-color: white;
      border: 2px solid black;
      box-shadow: 2px 2px 0 black;
      cursor: pointer;
      outline: none;
    }

    .navbar__faq:active {
      top: 2px;
      box-shadow: 0 0 0 black;
    }
  }
}
