.canvas-section__info {
  margin: 5px 0;
  font-size: 1.2rem;
  font-weight: 700;
  width: 185px;
  display: flex;
  justify-content: space-between;

  .canvas-section__size {
    margin: 0 10px;
  }

  .canvas-section__position {
    margin: 0 10px;
  }
}
