.canvas-section {
  align-self: flex-start;
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .canvas-section__wrapper {
    align-self: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .canvas-section__canvas {
    border: 2px solid black;
    background: url("../../../assets/background.jpg");
  }

  .canvas-section__canvas-overlay {
    position: absolute;
    z-index: 1;
    border: 2px solid black;
  }
}
