.canvas-section {
  align-self: flex-start;
  flex-grow: 1;
  display: flex;
  justify-content: center;

  .canvas-section__canvas {
    border: 2px solid black;
  }

  .canvas-section__canvas-overlay {
    position: absolute;
    z-index: 1;
    border: 2px solid black;
  }
}
