.shortcuts-modal {
  border: 2px solid black;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 95%;
  height: 95%;
  position: absolute;
  background: white;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;

  .shortcuts-modal__content{
    width: 90%;
    height: 90%;

    p {
      text-align: center;
      font-size: 1.4rem;
    }

    h2 {
      text-align: center;
      font-size: 1.6rem;
      margin: 0;
    }

    .shortcuts-modal__shortcut-rows {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 100px;
      grid-row-gap: 20px;
      margin: 20px 100px 0 150px;
      padding: 15px;
      font-weight: 700;
      font-size: 1.4rem;
      background-color: white;
    }
  }

  .shortcuts-modal__close {
    position: absolute;
    top: -2px;
    right: -2px;
    border: 2px solid black;
    outline: none;
    background: white;
    cursor: pointer;

    span {
      font-weight: 700;
      font-size: 1.6rem;
    }
  }

  .shortcuts-modal__close:hover {
    border: 2px dashed black;
  }
}
