.tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  padding: 15px;
  font-weight: 700;
  font-size: 1.4rem;
  background-color: white;
  border: 2px solid black;
  cursor: context-menu;

  button {
    width: 30px;
    height: 30px;
    position: relative;
    top: 0;
    margin-bottom: 15px;
    background-color: white;
    border: 2px solid black;
    box-shadow: 2px 2px 0 black;
    cursor: pointer;
    outline: none;

    .fas {
      display: flex;
      justify-content: center;
    }
  }

  button:active {
    top: 2px;
    box-shadow: 0 0 0 black;
  }

  .tools_state_active {
    border: 3px dashed black;
  }
}
