.color-select-section {
  .colors {
    display: flex;
    position: relative;
    border: 2px solid black;
    margin: 15px auto;
    padding: 15px;
    width: 45px;
    height: 40px;

    .colors__input-primary {
      z-index: 3;
      position: absolute;
      opacity: 0;
      width: 30px;
      height: 30px;
      top: 10px;
      left: 10px;
      cursor: pointer;
    }

    .colors__input-secondary {
      z-index: 1;
      position: absolute;
      opacity: 0;
      width: 30px;
      height: 30px;
      top: 25px;
      right: 10px;
      cursor: pointer;
    }

    .colors__primary {
      width: 30px;
      height: 30px;
      border: 2px solid black;
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 2;
      cursor: pointer;
    }

    .colors__secondary {
      width: 30px;
      height: 30px;
      border: 2px solid black;
      position: absolute;
      top: 25px;
      right: 10px;
      cursor: pointer;
    }

    .colors__swap {
      position: absolute;
      bottom: 5px;
      left: 5px;
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}
