.color-select-section {
  .colors {
    display: flex;
    position: relative;
    border: 2px solid black;
    margin: 20px 10px 0 20px;
    padding: 10px;
    width: 45px;
    height: 40px;

    .colors__input-primary {
      z-index: 3;
      position: absolute;
      opacity: 0;
      width: 30px;
      height: 30px;
      top: 5px;
      left: 5px;
      cursor: pointer;
    }

    .colors__input-secondary {
      z-index: 1;
      position: absolute;
      opacity: 0;
      width: 30px;
      height: 30px;
      top: 20px;
      right: 5px;
      cursor: pointer;
    }

    .colors__primary {
      width: 30px;
      height: 30px;
      border: 2px solid black;
      position: absolute;
      top: 5px;
      left: 5px;
      z-index: 2;
      cursor: pointer;
    }

    .colors__secondary {
      width: 30px;
      height: 30px;
      border: 2px solid black;
      position: absolute;
      top: 20px;
      right: 5px;
      cursor: pointer;
    }
  }
}
